<!DOCTYPE html>
<html lang="<%= current_language %>">
	<head>
		<meta charset="UTF-8">
		<meta class="dark-mode" name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/plugin_assets/issue_lifecycle/stylesheets/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
		<script>
			let translations = {
				label_issue: '<%= l(:label_issue) %>',
				label_issue_number: '<%= l(:label_issue_number) %>',
				label_issue_numbers: '<%= l(:label_issue_numbers) %>',
				label_current_status: '<%= l(:label_current_status) %>',
				label_elapsed_time_for_statuses: '<%= l(:label_elapsed_time_for_statuses) %>',
				label_status_changes: '<%= l(:label_status_changes) %>',
				label_category: '<%= l(:label_category) %>',
				label_minute: '<%= l(:label_minute) %>',
				label_hour: '<%= l(:label_hour) %>',
				label_byen: '<%= l(:label_byen) %>',
				label_bytr: '<%= l(:label_bytr) %>',
				label_total_elapsed_time: '<%= l(:label_total_elapsed_time) %>',
				label_total_spent_time: '<%= l(:label_total_spent_time) %>',
				label_spent_time: '<%= l(:label_spent_time) %>',
				label_user: '<%= l(:label_user) %>',
			};
		</script>
		<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>

	<body class="bg-dark">
		<header>
			<%= render 'header' %>
		</header>

		<main>
			<%= render 'issue_table' %>
			<%= render 'category_table' %>
			<%= render 'user_table' %>
			<%= render 'user_total_sp_time' %>
			<%= javascript_include_tag '/plugin_assets/issue_lifecycle/javascripts/issue_table' %>
			<%= javascript_include_tag '/plugin_assets/issue_lifecycle/javascripts/utils' %>
		</main>

		<footer>
			<%= render 'footer' %>
		</footer>
	</body>
</html>